<header>
    <nav class="navbar">
        <div class="nav">
            <a href="/" class="nav-logo">
                <img src="/assets/images/weckmann.png" width="70" height="70" alt="Logo">
            </a>
            <ul class="nav-links">
                <li><a href="/" name="Home"><i class="fas fa-home fa-lg"></i></a></li>
                <li><a href="/about" name="About"><i class="fas fa-user fa-lg"></i></a></li>
                <li><a href="https://codepen.io/clarkhacks" target="_blank" name="Codepen"><i class="fab fa-codepen fa-lg"></i></a></li>
            </ul>
        </div>
    </nav>

    <div class="intro-header">
        <div class="container">
            <div class="page-heading">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
    </div>
</header>