<meta name="keywords"
  content="{% if page.tags %}{{ page.tags | join: ", " }}{% else %}clark, weckmann, web, developer, websites, blog, clarkhacks{% endif %}">
<meta name="description" content="{% if page.desc %}{{ page.desc }}{% else %}{{ site.desc }}{% endif %}">
<meta name="author" content="Clark Weckmann">
<link rel="canonical" href="{{ site.url }}/f/atom.xml">
<meta content="{{ site.title }}" property="og:site_name">{% if page.title %}
<meta content="{{ page.title }}" property="og:title">{% else %}
<meta content="{{ site.title }}" property="og:title">{% endif %}{% if page.title %}
<meta content="article" property="og:type">{% else %}
<meta content="website" property="og:type">{% endif %}{% if page.desc %}
<meta content="{{ page.desc }}" property="og:description">{% else %}
<meta content="{{ site.desc }}" property="og:description">{% endif %}{% if page.url %}
<meta content="{{ site.url }}{{ page.url }}" property="og:url">{% endif %}{% if page.date %}
<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
<meta content="{{ site.url }}/about" property="article:author">{% endif %}
<meta content="{{ site.url }}/assets/images/cover.jpg" property="og:image">{% if page.tags %}
<meta content="{{ page.tags | join: ", " }}" property="article:tag">{% endif %}{% if page.title %}
<meta name="twitter:title" content="{{ page.title }}">{% else %}
<meta name="twitter:title" content="{{ site.title }}">{% endif %}{% if page.url %}
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">{% endif %}{% if page.desc %}
<meta name="twitter:description" content="{{ page.desc }}">{% else %}
<meta name="twitter:description" content="{{ site.desc }}">{% endif %}